@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.container {
    width: 1800px;
    margin: 0px auto;
}

.head-image {
    background-image:  url(assets/background_upper.png), url(assets/background_1.png), url(assets/background.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-y: 0px, 489px, -200px;
    background-position-x: 0px, 62px, 0px;
    background-color: white;
    height: 890px;
    filter: brightness(115%)
}

header {
    display: flex;
    margin-left: 200px;
    padding-top: 85px;
}

h1 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-right: 572px;
}

.logo-violet {
    color: #5b4295;
}

h1 a {
    color: #858688;
    text-decoration: none;
}

.head-menu {
    padding-top: 10px;
}

.head-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
}

.head-menu ul li {
    display: inline;
    padding-right: 18px;
}

.head-menu ul li a {
    color: rgba(69, 69, 69, 255);
    text-decoration: none;
}

.head-menu ul li a:hover {
    color: grey;
}

.language {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 200px;
    padding-top: 14px;
}

.language li {
    display: inline;
    color: rgba(149, 149, 149, 255);
}

.language li a {
    color: rgba(149, 149, 149, 255);
    text-decoration: none;
}

.language li a:hover {
    color: grey;
}

.language li a:focus {
    color: grey;
    font-weight: bold;
    text-decoration: underline;
}

.header-text {
    position: relative;
    top: 100px;
    color: #7a7a79;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.header-text p {
    margin: 0;
    padding: 0;
}

.header-text p:nth-child(2) {
    font-size: 35px;
}

.red {
    color: red;
}

.login::before {
    content: url(assets/login.png);
    position: relative;
    top: 5px;
    right: 4px;
}

.login {
    margin-right: 30px;
    margin-top: 12px;
    color: #454545;
    font-weight: bold;
    text-decoration: none;
}

.signup {
    text-decoration: none;
    font-weight: bold;
}

.btn {
    padding: 6px 25px;
    margin-top: 5px;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    color: white;
    border-radius: 25px;
}

.header-group-btn {
    position: relative;
    top: 150px;
    text-align: center;
    font-weight: 700;
}

.header-group-btn ul {
    list-style: none;
}

.header-group-btn li {
    display: inline;
}

.header-group-btn a {
    text-decoration: none;
}

.apple-store-logo {
    background-image: url(assets/apple.png);
    background-repeat: no-repeat;
    background-color: #5b4295;
}