@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.container {
    width: 1800px;
    margin: 0px auto;
}

.head-image {
    background-image:  url(assets/background_upper.png), url(assets/background_1.png), url(assets/background.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-y: 0px, 489px, -200px;
    background-position-x: 0px, 62px, 0px;
    background-color: white;
    height: 890px;
    filter: brightness(115%);
}

header {
    display: flex;
    margin-left: 200px;
    padding-top: 85px;
}

h1 {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-right: 572px;
}

.logo-violet {
    color: #5b4295;
}

h1 a {
    color: #858688;
    text-decoration: none;
}

.head-menu {
    padding-top: 10px;
}

.head-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
}

.head-menu ul li {
    display: inline;
    padding-right: 18px;
}

.head-menu ul li a {
    color: rgba(69, 69, 69, 255);
    text-decoration: none;
}

.head-menu ul li a:hover {
    color: grey;
}

.language {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 200px;
    padding-top: 14px;
}

.language li {
    display: inline;
    color: rgba(149, 149, 149, 255);
}

.language li a {
    color: rgba(149, 149, 149, 255);
    text-decoration: none;
}

.language li a:hover {
    color: grey;
}

.language li a:focus {
    color: grey;
    font-weight: bold;
    text-decoration: underline;
}

.header-text {
    position: relative;
    top: 100px;
    color: #7a7a79;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.header-text p {
    margin: 0;
    padding: 0;
}

.header-text p:nth-child(2) {
    font-size: 35px;
}

.red {
    color: red;
}

.login::before {
    content: url(assets/login.png);
    position: relative;
    top: 5px;
    right: 4px;
}

.login {
    margin-right: 30px;
    margin-top: 12px;
    color: #454545;
    font-weight: bold;
    text-decoration: none;
}

.signup {
    text-decoration: none;
    font-weight: bold;
}

.btn {
    padding: 10px 25px;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    color: white;
    border-radius: 25px;
}

.header-group-btn {
    position: relative;
    top: 150px;
    text-align: center;
    font-weight: 700;
}

.header-group-btn ul {
    list-style: none;
}

.header-group-btn li {
    display: inline;
    margin-right: 20px;
}

.header-group-btn a {
    text-decoration: none;
}

.create-account-btn {
    padding: 10px 50px;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    color: white;
    border-radius: 25px;
}

.store-logo {
    display: inline-block;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(36,49,115,1) 0%, rgba(149,37,60,1) 100%);
    height: 26px;
    width: 26px;
    padding: 10px;
}

.feature {
    height: 290px;
}

.clearfix {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.feature-item {
    position: relative;
    text-align: center;
    margin-right: 80px;
}

.feature-item p,
.feature-item h2 {
    margin: 0;
    text-align: left;
}

.feature-item h2 {
    font-size: 25px;
    color: rgba(85, 85, 85, 255);
    margin-bottom: -5px;
}

.below-title {
    color: rgba(149, 147, 147, 255);
    font-size: 20px;
}

.small-description {
    padding-top: 25px;
    height: 60px;
    width: 358px;
    font-size: 14px;
    color: rgba(149, 147, 147, 255);
}

.feature-title {
    padding-left: 60px;
} 

.feature-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 66px;
    background-repeat: no-repeat;
    background-image: url("assets/features_sprites.png");
}

.feature-privacy::before {
    background-position: -113px -10px;
}

.feature-encryption::before {
    background-position: -210px -18px;
}

.feature-protect::before {
    background-position: -24px -10px;
}

.clearfix li:first-child {
    margin-left: 250px;
}

.grey-line-1::after {
    content: "";
    position: absolute;
    top: -130px;
    left: 410px;
    height: 210px;
    border-left: 1px solid #b9b9b9;
}

.grey-line-3::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 400px;
    width: 140px;
    border-bottom: 1px solid #b9b9b9;
}

.grey-line-2::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 395px;
    height: 433px;
    border-left: 1px solid #b9b9b9; 
}


.more-about-security {
    height: 225px;
}
.security-text {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 570px;
}

.security-text h2, 
.security-text p {
    margin: 0;
    text-align: right;
}

.security-text h2 {
    font-size: 50px;
    color: rgba(83, 83, 83, 255);
}

.security-text p {
    font-size: 20px;
    color: rgba(149, 147, 147, 255);
    line-height: 1;
}

.learn-more-about-security {
    display: inline-block;
    position: relative;
    top: 26px;
    left: 1040px;
    border: 1px solid rgba(103, 103, 103, 255);
    padding: 10px 30px;
    border-radius: 30px;
}

.more-about-security a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(103, 103, 103, 255);
}

.grey-line-4::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 320px;
    width: 1030px;
    border-top: 1px solid #b9b9b9; 
}

.brands {
    height: 100px;
}

.brands img {
    height: 100%;
}

.brands ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    list-style: none;
}

.brands ul li {
    display: inline;
    margin-left: 45px;
    line-height: 30px;
    filter: brightness(0%) contrast(0%);
}

.brands li:hover {
    filter: brightness(100%);
}

.testonials {
    background-image:  url(assets/footer.png);
    background-repeat: no-repeat;
    background-position-y: 170px;
    background-position-x: 0px;
    background-color: white;
    height: 1052px;
}

.testonials blockquote {
    width: 420px;
    height: 180px;
    font-size: 20px;
    color: rgba(16, 16, 16, 255);
    text-align: left;
    font-style: italic;
    margin-left: 520px;
    line-height: 1.5;
}

.testonials blockquote p {
    font-size: 15px;
    color: grey;
}

.dot-section {
    position: relative;
    top: 80px;
    left: 490px;
    width: 20px;
}

.dot {
    height: 11px;
    width: 11px;
    background-color: #b7b7b7;
    border-radius: 50%;
    display: block;
    margin-bottom: 8px; 
}

.black {
    background-color: black;
}

.any-device {
    width: 450px;
    text-align: right;
    padding-top: 60px;
}

.download {
    display: flex;
    margin-left: 600px;
}

.download h3 {
    font-size: 32px;
    color: rgba(83, 83, 83, 255);
    margin: 0;
}

.download p {
    font-size: 16px;
    color: rgba(149, 147, 147, 255);
    text-align: right;
    line-height: 1.4;
}

.download img {
    position: relative;
    top: -210px;
    left: -150px;
}

.stores {
    position: relative;
    top: 230px;
    left: 150px;
    z-index: 1;
}

.stores a {
    padding-left: 10px;
}

.grey-line-5::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1400px;
    border-left: 60px solid #b9b9b9;
}

.plans {
    display: flex;
    flex-direction: column;
    margin-top: -140px;
}

.plans h3,
.plans p,
.plans .upgrade-donate {
    align-self: center; 
}



@media only screen and (max-width: 800px) {
    .container {
        width: 800px;
        margin: 0px auto;
    }

    header {
        margin-left: 35px;
        padding-top: 20px;
    }

    h1 {
        margin-right: 20px;
        font-size: 20px;
    }

    .head-menu ul li {
        padding-right: 14px;
        font-size: 15px;
    }

    .login {
        margin-right: 10px;
        font-size: 12px;
    }

    .signup {
        font-size: 12px;
    }

    .btn {
        padding: 8px 12px;
    }

}